<configuration>

    <!-- Masks secrets (bot tokens, Bearer headers, URL passwords) in %msg -->
    <conversionRule conversionWord="msg" converterClass="com.hrbot.logging.SecretMaskingConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy third-party libraries -->
    <logger name="com.zaxxer.hikari"            level="WARN"/>
    <logger name="org.hibernate"                level="WARN"/>
    <logger name="software.amazon.awssdk"       level="WARN"/>
    <logger name="org.springframework"          level="WARN"/>
    <logger name="org.telegram"                 level="WARN"/>

    <springProfile name="test">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.hrbot" level="INFO"/>
    </springProfile>

    <springProfile name="!test">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.hrbot"        level="INFO"/>
        <logger name="com.hrbot.parser" level="DEBUG"/>
    </springProfile>

</configuration>
